@model IEnumerable<ZasilaczDB.Models.Zasilacz>

@{
    ViewData["Title"] = "Lista zasilaczy";
}

<h1>Lista zasilaczy</h1>
<h2>Poniższe kontrolki zapewniają pełny dostęp do naszej bazy danych. Bardzo ufamy naszym Użytkownikom ;)</h2>

<p>
    <a asp-action="Create"><i class="fa-solid fa-plus"></i> Dodaj nowy zasilacz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certyfikat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certyfikat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i> Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can"></i> Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
